.form {
    &-common {
        .agreement {
            color: rgba(66, 66, 66, 0.45);
            font-size: 0.875rem;
            line-height: 1.35em;

            margin-top: 0.9rem;
        }
        .form {
            &-main {
                display: flex;
                flex-direction: column;
            }
            &-input {
                margin-bottom: 1rem;
                label {
                    font-weight: 500;
                    font-size: 0.94rem;

                    margin-bottom: 0.5rem;
                }
                .input {
                    width: 100%;
                    height: 3.875rem;
                    padding-left: 1.75rem;
                }
            }
            &-submit {
                background: $dark;
                width: 100%;
                line-height: 4.8125rem;

                color: white;

                margin-top: 0.4rem;
            }
        }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .form {
        &-common {
            .agreement {
                font-size: 16px;
                margin-top: 12px;
                color: rgba(255, 255, 255, 0.48);
            }
            .form {
                &-main {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                }
                &-input {
                    margin-bottom: 0;
                    margin-right: 9px;
                    label {
                        font-size: 18px;
                        color: rgba(255, 255, 255, 0.7);
                        margin-bottom: 0.5rem;
                    }
                    .input {
                        height: 79px;
                        padding-left: 30px;
                        &.name {
                            width: 228px;
                        }
                        &.phone {
                            width: 256px;
                        }
                    }
                }
                &-submit {
                    background: $primary;
                    width: 309px;
                    line-height: 79px;
    
                    color: $dark;
                    font-size: 17px;
    
                    margin-top: 0;
                }
            }
        }
    }
}