extends ../local_modules/layout/_layout

prepend head
  title Кейсы
  meta(name="description", content="Описание страницы")

block content
  main.main
    section.sec1
      .container
        .page-location
          .base-dir Инвесторам
          .divider
          .current-dir Кейсы
    



            


                



