extends ../local_modules/layout/_layout

prepend head
  title Кейсы
  meta(name="description", content="Описание страницы")

block content
  main.main
    section.sec1
      .container
        .page-location
          .base-dir Инвесторам
          .divider
          .current-dir Кейсы
        h1 Портфель за период от 2 января 2019 по 11 марта 2020
        .cases-text-wrapper
          p.case-text Инвесторы открыли длинную позицию в начале октября 2019 года по $240 за акцию Tesla, закрыв её в конце февраля 2020 года по $915 за акцию. Резкий рост произошёл на фоне выполнения обещаний автоконцерном по перевыполнению плана производства и продажам автомобилей. В мае 2019 года на IPO вышла компания Beyond Meat, один из основных производителей заменителей мяса. За два с половиной месяца стоимость акций производителя выросла на 800% с $25 до $200, а её капитализация превысила стоимость ресторанных сетей Shake Shack, Wendy и множества других отраслевых компаний. 

          p.case-text Акции Полюс золото (PLZL) выросли в 2.5 раза на фоне роста цены на золото в 2020 году, а прибыль впервые в истории компании достигла рекордного $1,1 млрд. Ozon провел блестящее IPO в 2020 году. Итоговая цена размещения значительно превысила первоначально определенный диапазон $22,5-27,5 за бумагу и составила $43,5.

    



            


                



