@import "../../../../local_modules/styles/project/layout/header";
@import "../../../local_modules/styles/project/layout/footer";

.sec1 {
    padding-top: 1.25rem;
    padding-bottom: 2.4rem;

    .page-location {
      margin-bottom: 3.35rem;
    }

    .page-location .base-dir {
      color: $dark;
      font-size: 0.875rem;

      margin-right: 0.925rem;
    }

    .divider {
      height: 1px;
      width: 17px;
      border: 1px solid $dark;
      display: block;

      opacity: 0.45;

      margin-right: 0.925rem;
    }

    .current-dir {
      color: #9A9A9A;
    }

    h1 {
      font-weight: 600;

      position: relative;

      padding-bottom: 2.175rem;

      margin-bottom: 2.4375rem;
      &::after {
        content: '';
        display: block;
        width: 41.78px;
        height: 5.57px;

        position: absolute;
        bottom: 0;

        background-color: $primary;
      }
    }

    .case-text {
      font-size: 1.125rem;
      line-height: 1.6875rem;

      &:first-child {
        margin-bottom: 1.8rem;
      }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .sec1 {
        padding-top: 23px;
        padding-bottom: 60px;
    
    }
}
