@import "../../../../local_modules/styles/project/layout/header";
@import "../../../local_modules/styles/project/layout/footer";

.sec1 {
    padding-top: 1.25rem;
    padding-bottom: 2.4rem;

    .page-location {
      margin-bottom: 3.35rem;
    }

    .page-location .base-dir {
      color: $dark;
      font-size: 0.875rem;

      margin-right: 0.925rem;
    }

    .divider {
      height: 1px;
      width: 17px;
      border: 1px solid $dark;
      display: block;

      opacity: 0.45;

      margin-right: 0.925rem;
    }

    .current-dir {
      color: #9A9A9A;
    }

    h1 {
      font-weight: 600;

      position: relative;

      padding-bottom: 2.175rem;

      margin-bottom: 2.4375rem;
      &::after {
        content: '';
        display: block;
        width: 41.78px;
        height: 5.57px;

        position: absolute;
        bottom: 0;

        background-color: $primary;
      }
    }

    .case-text {
      font-size: 1.125rem;
      line-height: 1.6875rem;

      &:first-child {
        margin-bottom: 1.8rem;
      }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .sec1 {
        padding-top: 23px;
        padding-bottom: 60px;

        &__slider {
          position: relative;
          margin-top: 51px;
          margin-bottom: 55px;
          .slidenav {
            width: 51px;
            height: 51px;

            @include center-item-y('absolute');
            svg {
              width: 8px;
            }
            &-prev {
              left: -25px;
            }
            &-next {
              right: -25px;
            }
          }
          .uk {
            &-slider {
              &-container {
                overflow: visible;
              }
              &-item {
                padding-right: calc(.5 * (100vw - 1210px) + 30px);

                // cursor: grab;
                .ibg {
                  width: 1170px;
                  height: 620px;

                  position: relative;
                }
              }
            }
          }
        }
        &__final {
          background: $primary;

          padding: 34px 188px 47px 54px;

          h3 {
            font-weight: bold;
            font-size: 1.6875rem;

            margin-bottom: 1.5rem;
          }

          p {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2.25rem;

            margin-bottom: 2.175rem;
          }

          .numbers {
            display: flex;

            &-item {
              width: 225px;

              margin-right: 3.4375rem;
            }

            &-top {
              font-weight: bold;
              font-size: 2.25rem;

              border-bottom: 1px solid rgba($dark, .13);

              padding-bottom: 0.7rem;
              margin-bottom: 1.2rem;
              span {
                font-weight: 500;
                font-size: 1.25rem;
              }
            }
          }
        }
    }
}
