#quiz.uk-flex-top(data-uk-modal)
  .uk-modal-dialog.uk-modal-body
    button.uk-modal-close-default(type="button" data-uk-close)
    .quiz__header 
      .quiz-final-hide
        h2 Определите свой психотип инвестора  
        h4 и узнайте, какая стратегия инвестирования<br class="d-lg-none"> подойдет именно вам
      .quiz-final-show
        h2 Поздравляем!<br> Мы определили ваш психотип инвестора.
    .quiz__main 
      .quiz-slide-wrap
        .quiz-slide.quiz-active(data-title="Какой Ваш текущий возраст?")
          h3 Какой Ваш текущий возраст?
          .quiz-radio-wrap
            a.quiz-radio(data-value="18–29 лет") 18–29 лет
            a.quiz-radio(data-value="30–39 лет") 30–39 лет
            a.quiz-radio(data-value="40–49 лет") 40–49 лет
            a.quiz-radio(data-value="50–59 лет") 50–59 лет
            a.quiz-radio(data-value="Свыше 59 лет") Свыше 59 лет
        .quiz-slide(data-title="Как бы Вы описали себя в качестве инвестора?")
          h3 Как бы Вы описали себя в качестве инвестора?
          .quiz-radio-wrap
            a.quiz-radio(data-value="Я активный и опытный инвестор") Я активный и опытный инвестор, могу принимать инвестиционные решения по собственному усмотрению
            a.quiz-radio(data-value="Я обладаю некоторыми инвестиционными знаниями") Я обладаю некоторыми инвестиционными знаниями и опытом в области паевых инвестиционных фондов
            a.quiz-radio(data-value="У меня мало инвестиционных знаний и опыта, кроме банковских сбережений и добровольного страхования") У меня мало инвестиционных знаний и опыта, кроме банковских сбережений и добровольного страхования
            a.quiz-radio(data-value="У меня мало инвестиционных знаний и опыта, кроме банковских сбережений") У меня мало инвестиционных знаний и опыта, кроме банковских сбережений
        .quiz-slide(data-title="Будете ли Вы принимать более высокий риск для достижения более высокого потенциального прироста?")
          h3 Будете ли Вы принимать более высокий риск для достижения более высокого потенциального прироста?
          .quiz-radio-wrap
            a.quiz-radio(data-value="Абсолютно да") Абсолютно да
            a.quiz-radio(data-value="Да") Да
            a.quiz-radio(data-value="Нейтрально") Нейтрально
            a.quiz-radio(data-value="Нет") Нет
            a.quiz-radio(data-value="Абсолютно нет") Абсолютно нет
        .quiz-slide(data-title="Какие из следующих целей наиболее точно отражают Вашу личную инвестиционную цель?")
          h3 Какие из следующих целей наиболее точно отражают Вашу личную инвестиционную цель?
          .quiz-radio-wrap
            a.quiz-radio(data-value="Максимальный прирост капитала в кратчайшие сроки") Максимальный прирост капитала в кратчайшие сроки
            a.quiz-radio(data-value="Стабильный, сбалансированный доход и рост капитала") Стабильный, сбалансированный доход и рост капитала
            a.quiz-radio(data-value="Заработать доход, который немного выше ставки банковского депозита") Заработать доход, который немного выше ставки банковского депозита
            a.quiz-radio(data-value="Сохранить капитал с доходностью, аналогичной ставке банковского вклада") Сохранить капитал с доходностью, аналогичной ставке банковского вклада
        .quiz-slide(data-title="Какой временной горизонт инвестирования наиболее подходит для реализации Ваших целей?")
          h3 Какой временной горизонт инвестирования наиболее подходит для реализации Ваших целей?
          .quiz-radio-wrap
            a.quiz-radio(data-value="1–5 лет") 1–5 лет
            a.quiz-radio(data-value="5–10 лет") 5–10 лет
            a.quiz-radio(data-value="10–15 лет") 10–15 лет
            a.quiz-radio(data-value="15–20 лет") 15–20 лет
            a.quiz-radio(data-value="Более 20 лет") Более 20 лет
        .quiz-slide(data-title="Какую сумму вы хотите инвестировать?")
          h3 Какую сумму вы хотите инвестировать?
          .quiz-radio-wrap
            a.quiz-radio(data-value="От 200 000 ₽ до 1 000 000 ₽") От 200 000 ₽ до 1 000 000 ₽
            a.quiz-radio(data-value="От 1 000 000 ₽ до 5 000 000 ₽") От 1 000 000 ₽ до 5 000 000 ₽
            a.quiz-radio(data-value="От 5 000 000 ₽ до 10 000 000 ₽") От 5 000 000 ₽ до 10 000 000 ₽
            a.quiz-radio(data-value="Свыше 10 000 000 ₽") Свыше 10 000 000 ₽
            a.quiz-radio(data-value="Выше 30 000 000 ₽") Выше 30 000 000 ₽
        .quiz-slide(data-title="Есть ли у вас свой бизнес?")
          h3 Есть ли у вас свой бизнес?
          .quiz-radio-wrap
            a.quiz-radio(data-value="Да") Да
            a.quiz-radio(data-value="Нет") Нет
        .quiz-slide(data-title="Инвестировали ли вы когда-нибудь и куда?")
          h3 Инвестировали ли вы когда-нибудь и куда? 
          .quiz-radio-wrap
            a.quiz-radio(data-value="Нет") Нет
            a.quiz-radio(data-value="Да, бизнес") Да, бизнес
            a.quiz-radio(data-value="Да, недвижимость") Да, недвижимость
            a.quiz-radio(data-value="Криптовалюты") Криптовалюты
            a.quiz-radio(data-value="Да, финансовые рынки") Да, финансовые рынки
            a.quiz-radio(data-value="Стартапы") Стартапы
            a.quiz-radio(data-value="Да, банковские вклады") Да, банковские вклады
            a.quiz-radio(data-value="Да, другое") Да, другое
        .quiz-slide(data-title="Сколько времени вы готовы уделять инвестициям?")
          h3 Сколько времени вы готовы уделять инвестициям?
          .quiz-radio-wrap
            a.quiz-radio(data-value="Не готов") Не готов
            a.quiz-radio(data-value="Готов, максимум 1 раз в месяц") Готов, максимум 1 раз в месяц
            a.quiz-radio(data-value="Готов, 1 раз в неделю") Готов, 1 раз в неделю
            a.quiz-radio(data-value="Готов, столько сколько потребуется") Готов, столько сколько потребуется
            a.quiz-radio(data-value="Готов стать экспертом") Готов стать экспертом
        .quiz-slide(data-title="Что для вас инвестиции?")
          h3 Что для вас инвестиции?
          .quiz-radio-wrap
            a.quiz-radio(data-value="Основной доход") Основной доход
            a.quiz-radio(data-value="Пассивный доход") Пассивный доход
            a.quiz-radio(data-value="Дополнительный заработок") Дополнительный заработок
            a.quiz-radio(data-value="Активный доход (самостоятельно торговать)") Активный доход (самостоятельно торговать)
            a.quiz-radio(data-value="Создание капитала на будущее") Создание капитала на будущее
            a.quiz-radio(data-value="Коплю на что-то ") Коплю на что-то 
        .quiz-slide.quiz-slide-final
          h3 Оставьте ваши контакты
          p.descr Менеджер отправит Вам результат теста WhatsApp в ближайшее время 
          form.form-common(action="#")
            .values
            .form-main
              .form-input
                label Введите ваше имя:
                input.input.name(type="text" name="Имя" placeholder="Иван")
              .form-input
                label Введите ваш телефон:
                input.input.phone(type="tel" name="Телефон" placeholder="+7 (999) 999-99-99")
              button.form-submit.uk-button.btn-solid(type="submit")
                span Узнать результаты теста
            .agreement Оставляя заявку, вы даёте согласие на обработку персональных данных
            
      .quiz__progress.quiz-final-hide
        .quiz__progress-title Вопрос: #[span.quiz-progress-num 1]/10
        .quiz__progress-bar
          .quiz-progress-bar
    
    